{{ 'information-bar.css' | asset_url | stylesheet_tag }}

<div class="information-bar" style:"--information-bar-backgound: section.settings.backgound_color">
    {% for block in section.blocks %}
        <div class="information-column">
            <img src="{{ block.settings.image | img_url }}">
            <span>{{ block.settings.title }}</span>
        </div>
    {% endfor %}
</div>

{% schema %}
  {
    "name": "Information Bar",
    "class": "top-bar",
    "settings": [
        {
            "type": "header",
            "content": "Country Selector"
        },
        {
            "type": "color",
            "id": "backgound_color",
            "label": "Background color",
        }
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings":[
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
          "name": "Information Bar"
        }
    ]
  }
{% endschema %}