{%- style -%}
  .information-bar {
    display: flex;
  }
  .information-column img {
    width: 20px;
    height: 20px;
  }
{%- endstyle -%}

<div class="information-bar">
    {% for block in section.blocks %}
        <div class="information-column">
            <img src="{{ block.settings.image | img_url }}">
            <span>{{ block.settings.title }}</span>
        </div>
    {% endfor %}
</div>

{% schema %}
  {
    "name": "Information Bar",
    "class": "top-bar",
    "settings": [
        {
            "type": "header",
            "content": "Country Selector"
        },
    ],
    "blocks": [
        {
            "type": "image",
            "name": "Image",
            "settings":[
                {
                    "type": "image_picker",
                    "id": "image",
                    "label": "Image"
                },
                {
                    "type": "text",
                    "id": "title",
                    "label": "Text"
                }
            ]
        }
    ],
    "presets": [
        {
          "name": "Information Bar"
        }
    ]
  }
{% endschema %}